pandas>=2.2.0
numpy>=1.26.0

faiss-cpu>=1.8.0

sentence-transformers>=3.0.0
transformers>=4.40.0
torch>=2.2.0

langchain>=0.3.0
langchain-core>=0.3.0
langchain-groq>=0.2.0

python-dotenv>=1.0.1

jupyter>=1.0.0
ipykernel>=6.29.0

pydantic>=2.7.0
tqdm>=4.66.0
